Array declaration using Pandas and accessing using user defined indices

In [2]:
import pandas as pd;
a=[1,2,3,4]
chars=pd.Series(a,index=["First","Second","Third","Fourth"])
print(chars)
print(chars["First"])
print(chars["Second"])
print(chars["Third"])
print(chars["Fourth"])

First     1
Second    2
Third     3
Fourth    4
dtype: int64
1
2
3
4

Create a Dictionery

In [8]:
import pandas as pd
dict={"Day1" : 425,"DAY2" : 34 ,"DAY3":46}
k=pd.Series(dict)
print(k)

Day1    425
DAY2     34
DAY3     46
dtype: int64

Dataframe in pandas

In [23]:
import pandas as pd
data={"MachineLearning":[1,2,3,4],"DataStructure":[1,2,9,7]}
j=pd.DataFrame(data)
print(j)
# accesing indices in dataframe
print(j.loc[0])
# accessing position in dataframe
print(j.loc[1])

   MachineLearning  DataStructure
0                1              1
1                2              2
2                3              9
3                4              7
MachineLearning    1
DataStructure      1
Name: 0, dtype: int64
MachineLearning    2
DataStructure      2
Name: 1, dtype: int64

Importing MINST dataset

In [24]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("oddrationale/mnist-in-csv")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/oddrationale/mnist-in-csv?dataset_version_number=2...

100%|██████████| 15.2M/15.2M [00:00<00:00, 174MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/oddrationale/mnist-in-csv/versions/2

Train dataset

In [41]:
import pandas as pd
var=pd.read_csv("/content/mnist_train.csv")
print(var.head())
print(var.info())
print(var.drop(3))

   label  1x1  1x2  1x3  1x4  1x5  1x6  1x7  1x8  1x9  ...  28x19  28x20  \
0      5    0    0    0    0    0    0    0    0    0  ...    0.0    0.0
1      0    0    0    0    0    0    0    0    0    0  ...    0.0    0.0
2      4    0    0    0    0    0    0    0    0    0  ...    0.0    0.0
3      1    0    0    0    0    0    0    0    0    0  ...    0.0    0.0
4      9    0    0    0    0    0    0    0    0    0  ...    0.0    0.0

   28x21  28x22  28x23  28x24  28x25  28x26  28x27  28x28
0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

[5 rows x 785 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21217 entries, 0 to 21216
Columns: 785 entries, label to 28x28
dtypes: float64(401), int64(384)
memory usage: 127.1 MB
None
       label  1x1  1x2  1x3  1x4  1x5  1x6  1x7  1x8  1x9  ...  28x19  28x20  \
0          5    0    0    0    0    0    0    0    0    0  ...    0.0    0.0
1          0    0    0    0    0    0    0    0    0    0  ...    0.0    0.0
2          4    0    0    0    0    0    0    0    0    0  ...    0.0    0.0
4          9    0    0    0    0    0    0    0    0    0  ...    0.0    0.0
5          2    0    0    0    0    0    0    0    0    0  ...    0.0    0.0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...
21212      8    0    0    0    0    0    0    0    0    0  ...    0.0    0.0
21213      9    0    0    0    0    0    0    0    0    0  ...    0.0    0.0
21214      6    0    0    0    0    0    0    0    0    0  ...    0.0    0.0
21215      0    0    0    0    0    0    0    0    0    0  ...    0.0    0.0
21216      0    0    0    0    0    0    0    0    0    0  ...    NaN    NaN

       28x21  28x22  28x23  28x24  28x25  28x26  28x27  28x28
0        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
1        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
5        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...      ...    ...    ...    ...    ...    ...    ...    ...
21212    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
21213    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
21214    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
21215    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
21216    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

[21216 rows x 785 columns]